---
layout: archive
classes: wide
---

{{ content }}

<p align="justify">
    I am pursuing my PhD at the Technical University of Munich  with Prof. Cremers - Check out the awesome work of the <a href="https://cvg.cit.tum.de/publications">Computer Vision Group</a>! 
    I am a junior member of the <a href="https://mcml.ai/">Munich Center of Machine Learning</a>, one of six national AI Competence Centers in Germany.
    <br>
    My <a href="publications">research</a> focuses on generative AI, in particular diffusion for 4D computer vision and 3D human motion prediction and generation.
    In 2022 I joined <a href="https://www.satoh-lab.nii.ac.jp/">Satoh's Lab</a> at the University of Tokyo and National Intitute of Informatics in Tokyo  as a research intern under the guidance of Prof. Shin'ichi Satoh and Dr. Andreu Girbau. 
    I completed my Master's thesis with Prof. Nießner and my my Bachelor's degree with Prof. Leal Taixè and Qunjie Zhou, both at TUM.
</p>

<div class="hr">
    <div class="container">
        <hr>
    </div>
</div>

<h2 class="title is-3">News</h2>
<div class="content">
    {% for news in site.data.news %}
    <b>{{ news.date }}</b> <br> {{ news.description | markdownify | remove: '<p>' | remove: '</p>' }}
    <div class="hr">
        <hr>
    </div>
    {% endfor %}
</div>