---
layout: archive
classes: wide
---

{{ content }}

<p align="justify">
    I am pursuing my PhD with Prof. Cremers at the <a href="https://cvg.cit.tum.de">Computer Vision Group</a> of the Technical University of Munich (TUM) - Check out the awesome work of our <a href="https://cvg.cit.tum.de/publications">group</a>! 
    <br>
    My <a href="publications">current research</a> focuses on generative AI, in particular diffusion for 4D computer vision tasks and 3D human motion prediction and generation.
    <br>
    In 2022 I joined <a href="https://www.satoh-lab.nii.ac.jp/">Satoh's Lab</a> at the University of Tokyo (UTokyo) and National Intitute of Informatics in Tokyo (NII) as a research intern investigating probabilistic aspects and uncertainty in conditioned human motion generation under the guidance of <a href="https://research.nii.ac.jp/~satoh/index.html">Prof. Shin'ichi Satoh</a> and <a href="https://agirbau.github.io/">Dr. Andreu Girbau</a>. 
    <br>
    I completed my Master's thesis with <a href="https://www.niessnerlab.org/members/matthias_niessner/profile.html">Prof. Nießner</a> at Nießner Lab on "Probabilistic Human Motion Prediction with Scene Understanding and Occlusion Handling" completing my degree in computer science (Robotics, Cognition, Intelligence) at TU Munich. 
    <br>
    I obtained my Bachelor's degree in engineering science at TU Munich after completing a thesis on "Image Retrieval Under Challenging Weather and Lighting Conditions for Place Localization in Autonomous Driving" with <a href="https://research.nvidia.com/labs/dvl/author/laura-leal-taixe/">Prof. Leal Taixè </a> and <a href="https://scholar.google.com/citations?user=d5DqmRoAAAAJ">Qunjie Zhou</a>.
</p>

<div class="hr">
    <div class="container">
        <hr>
    </div>
</div>

<h2 class="title is-3">News</h2>
<div class="content">
    {% for news in site.data.news %}
    <b>{{ news.date }}</b> <br> {{ news.description | markdownify | remove: '<p>' | remove: '</p>' }}
    <div class="hr">
        <hr>
    </div>
    {% endfor %}
</div>